@tailwind base;
@tailwind components;
@tailwind utilities;




* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

svg:hover path {
    fill: red;
    transition: all ease 0.3s;
}